@use 'src/app/shared/style/variables.scss' as *;

/*
.timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 2rem;
	.timeline-row {
		align-self: stretch;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;

		.timeline-left {
			min-width: 22rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 15px 0 0 15px;
			height: auto;
			font-size: 2rem;
			padding: 2rem;
			background-color: $dark3;
			align-self: stretch;
		}
		.timeline-right {
			flex: 1;
			align-self: stretch;
			background-color: $dark2;
			padding: 1rem;
			color: $light0;
			border-radius: 0 15px 15px 0px;
			font-size: 1.8rem;
		}
	}
}
*/

.timeline {
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
	padding-bottom: 4rem;
	gap: 3rem;
	flex: 1;
	&.reverse {
		flex-direction: column-reverse;
	}
	.timeline-row {
		display: flex;
		gap: 3rem;
		justify-content: center;
		align-items: flex-start;
		.date {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			min-width: 11rem;
			align-self: stretch;
		}
		.line {
			width: 0px;
			align-self: stretch;
			position: relative;
			background-color: $light2;
			border-right: 1px solid $light2;
			border-left: 1px solid $light2;
			display: flex;
			align-items: center;
			justify-content: center;
			.point {
				width: 10px;
				height: 10px;
				background-color: $light0;
				position: absolute;
				border-radius: 50%;
			}
		}
		.data {
			flex: 5;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			.title {
			}
			.company {
				opacity: 50%;
				font-size: 1.4rem;
			}
			.description {
			}
		}
	}
}
