@use 'src/app/shared/style/variables.scss' as *;

.page {
	min-height: 100vh;
	background-color: $dark1;
	// border: 2px solid red;       //! activate debug lines

	&.header-padding {
		padding-top: 8rem;
	}

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		// border: 2px solid green; //! activate debug lines

		.section-title {
			width: 100%;
			z-index: 1;
			font-size: 3.6rem;
			font-family: $font0;
			font-weight: 700;
			padding: 4rem 5%;
		}

		.container {
			margin: 5% auto;
			width: 90%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			// border: 2px solid blue; //! activate debug lines
			.column {
				flex: 1;
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}
		}
	}
}

// media query turn .container into a flex colum on mobile
@media (max-width: 768px) {
	.page {
		.container {
			flex-direction: column !important;
		}
	}
}
