$dark0: #000000;
$dark1: #111111;
$dark2: #191919;
$light0: #ffffff;
$accent0: #85eb98;

.background-dark0 {
	background-color: $dark0;
}

.background-dark1 {
	background-color: $dark1;
}

.background-dark2 {
	background-color: $dark2;
}
