$dark0: #000000;
$dark1: #111111;
$dark2: #191919;
$dark3: #303030;
$light0: #ffffff;
$light1: #e3e3e3;
$light2: #c3c3c3;
$accent0: #85eb98;

.bg-dark0 {
	background-color: $dark0;
}

.bg-dark1 {
	background-color: $dark1;
}

.bg-dark2 {
	background-color: $dark2;
}

.bg-light0 {
	background-color: $light0;
}

.bg-accent0 {
	background-color: $accent0;
}

.mask {
	background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.left-top {
	align-items: flex-start;
	justify-content: flex-start;
}

.center {
	align-items: center;
	justify-content: center;
}

.left-center {
	align-items: flex-start;
	justify-content: center;
}
